<div class="container" style="margin-top: 80px">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Nuestra Historia</h1>
      <p style="text-align: justify;">
        <img
          style="padding-right: 15px; float: left;"
          src="../../../assets/img/pf_1566240771.jpg"
          alt="Los Strachan"
          width="200"
          height="258"
        />
        En el año de 1921 se inicia, en Costa Rica, un proyecto de la Misión
        Latinoamericana. Varios misioneros llegan a este país procedentes de
        diferentes naciones con el fin de ayudar a los más necesitados. Los
        esposos Enrique Strachan -de nacionalidad escocesa- y la irlandesa
        Susana Strachan, se unen a esta noble causa tras haber servido en
        Argentina durante 17 años como misioneros evangélicos.
      </p>
      <p style="text-align: justify;">
        Al llegar a Costa Rica, se ven particularmente conmovidos y muy
        preocupados por el estado tan deplorable del sistema de salud local. Su
        preocupación fundamental es la salud infantil, pues encuentran que de
        cada mil niños nacidos al año, trescientos cincuenta y cinco morían, el
        50 por ciento de ellos antes de cumplir los cinco años de edad. La
        desnutrición y el abandono constituían los principales problemas
        sufridos por la infancia en ese periodo; además, el único hospital que
        existía y que podía atender sólo a una parte de los enfermos, era el
        Hospital San Juan de Dios. En cuanto a la salud en general, la
        expectativa de vida era de unos cuarenta años. Había enfermedades tales
        como la tuberculosis y el paludismo.
      </p>
      <p style="text-align: justify;">
        Ante este panorama tan desolador, los Strachan deciden llevar alivio a
        los más necesitados, los pobres y en especial a los niños. De esta
        manera, se dedican a brindar servicios médicos gratuitos a estas
        personas y fundan
        <strong><span style="color: #00539f;">Clínica UTN</span></strong
        >, que estuvo a cargo de la Misión Latinoamericana. La idea original
        consistía en crear un centro pediátrico, pero con el tiempo surge la
        necesidad de contar con una maternidad y una clínica quirúrgica. Así,
        los esposos Strachan toman esto como un reto y logran la construcción de
        una Maternidad, una sección quirúrgica y una Escuela de Enfermería.
      </p>
    </div>
  </div>
  <div style="border-top: 1px solid #007bff;margin-top: 70px">
    <div class="row" style="margin-top:50px">
      <div class="col-sm-8 col-xs-12 col-md-8">
        <h2 class="h2-home-a">Contactarnos <strong>es muy fácil</strong></h2>
        <p>
          El hospital privado en Costa Rica, Hospital Clínica Bíblica ofrece
          para mayor información o para solicitar cita en cualquiera de las
          especialidades médicas, con los mejores doctores de Costa Rica, el
          número <span style="color: #007bff"><strong>2522-1000</strong></span
          >, el correo electrónico
          <strong
            ><a href="mailto:servicios@clinicautn.com"
              >servicios@clinicautn.com
            </a></strong
          >
          o vía chat 24/7 en nuestro sitio web, además de nuestras redes
          sociales.
          <br />
          <br />
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12 col-md-4">
        <p>
          <img
            class="img-contacto"
            src="../../../assets/img/trabajo.png"
            alt="Trabaje con nosotros"
            width="30"
            height="30"
            style="margin-right: 10px"
          />
          <span class='detalle-contacto"'>
            <a style="color: black">
              <strong>Trabaje con nosotros</strong>
            </a>
            <br /> </span
          ><span class="desc-contacto">Gestión de recursos humanos</span>
        </p>
        <p>
          <img
            class="img-contacto"
            src="../../../assets/img/telefono.png"
            alt="Contacte nuestra Central Telefónica"
            width="30"
            height="30"
            style="margin-right: 10px"
          /><span>
            <a href="tel:+506296527" style="color: black"
              ><strong>(506) 6029 6527</strong></a
            >
            <br />
          </span>
          <span class="desc-contacto">Central Telefónica<br /> </span>
        </p>
      </div>
      <div class="col-sm-4 col-xs-12 col-md-4">
        <p>
          <img
            class="img-contacto"
            src="../../../assets/img/telefono.png"
            alt="Llámenos ahora"
            width="30"
            height="30"
            style="margin-right: 10px"
          />
          <span class='detalle-contacto"'>
            <strong
              ><a href="https://wa.me/50688888888" style="color: black"
                >(506) 8888 8888</a
              > </strong
            ><br /></span
          ><span class="desc-contacto">Whatsapp<br /> </span>
        </p>
        <p>
          <img
            class="img-contacto"
            src="../../../assets/img/correo.png"
            alt="Nuestro correo electrónico"
            width="30"
            height="30"
            style="margin-right: 10px"
          />
          <span class='detalle-contacto"'>
            <a href="mailto:servicios@clinicautn.com" style="color: black">
              <strong>servicios@clinicautn.com</strong> </a
            ><br /></span
          ><span class="desc-contacto">Envíenos su consulta<br /> </span>
        </p>
      </div>
      <div class="col-sm-4 col-xs-12 col-md-4">
        <p>
          <img
            class="img-contacto"
            src="../../../assets/img/waze.png"
            alt="Dirección de la Sede Central"
            width="30"
            height="30"
            style="margin-right: 10px"
          />
          <span class='detalle-contacto"'
            ><a href="https://waze.to/lr/hd1u0qxpqz" style="color: black"
              ><strong>Waze San José</strong></a
            ><br /></span
          ><span class="desc-contacto"
            >Avenida 14, Calle 1 y Central, San José<br
          /></span>
        </p>
        <p>
          <img
            class="img-contacto"
            src="../../../assets/img/waze.png"
            alt="Dirección de la Sede Central"
            width="30"
            height="30"
            style="margin-right: 10px"
          /><span class='detalle-contacto"'
            ><a
              style="color: black"
              href="https://www.waze.com/ul?ll=9.94626650%2C-84.18777640&amp;navigate=yes&amp;zoom=16"
              ><strong>Waze Santa Ana</strong></a
            ><br /></span
          ><span class="desc-contacto">Pozos de Santa Ana, San José<br /></span>
        </p>
        <hr />
        <p style="text-align: center;">
          <span style="color: #013e76;"
            ><strong>Síganos en nuestras Redes Sociales</strong></span
          >
        </p>
        <p style="text-align: center;">
          <a
            href="http://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="img-middle"
              src="../../../assets/img/facebook.png"
              alt="Facebook"
              width="20"
              height="20"
              border="0"
              style="margin-right: 10px"
          /></a>
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="img-middle"
              src="../../../assets/img/twiter.png"
              alt="Twitter"
              width="20"
              height="20"
              border="0"
              style="margin-right: 10px"
          /></a>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><img
              class="img-middle"
              src="../../../assets/img/instagram.png"
              alt="Instagram Clínica Bíblica"
              caption="false"
              width="20"
              height="20"
              border="0"
              style="margin-right: 10px"
          /></a>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            rel="alternate noopener noreferrer"
            ><img
              class="img-middle"
              src="../../../assets/img/linkedin.png"
              alt="LinkedIn"
              width="20"
              height="20"
              border="0"
              style="margin-right: 10px"
          /></a>
        </p>
      </div>
    </div>
  </div>
</div>
